// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.color {
    background-color: #800000;
}

.color-border {
    border-color: #58181f;    
}

.color-notice {
    background-color: #BF3030;
}